extends layout

block content
  h1= title
  div#chat
    ul#messages
    form(action="")
      input#m(autocomplete="off")
      button Send
  script(src="/javascripts/lib/socket.io.js")
  script(src="/javascripts/lib/jquery.js")
  script var socket = io();
  script(src="/javascripts/form.js")
